<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->

{{#each animal}}
    <br>
    <ul>
        <li>{{animalType}}</li>
        <li>Makes a good pet? {{pet}}</li>
        <li>Fierceness: {{fierceness}}</li>
    </ul>
{{/each}}