p {
    text-indent: 25px;
    width: 1100px;
}

img.album {
    width: 150px;
    height: 150px;
}

thead {
    font-weight: bold;
    font-size: large;
    text-align: left;
}

.songs {
    font-size: small;
}

th, td {
}

th, td {
    padding: 15px;r
}

li {
    text-align: left;
}